@model Social_Bookmarking_Platform.Models.Board

<br />

<h2 class="mb-5 text-center">Adaugare Board</h2>

<br />

<form asp-action="New" asp-controller="Boards" method="post">

    <label asp-for="Title">Denumire colectie</label>
    <br />
    <input asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />
<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
    <br />

    <button type="submit" class="btn btn-success">Adauga board</button>

</form>


